<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1066" key="50312142-65f3-49af-81c4-62b2a0a5cb76" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-02T18:53:15" updateDate="2018-09-02T18:53:15" nodeName="Home" urlName="home" path="-1,1066" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1060" nodeTypeAlias="home" isPublished="true">
    <blog id="1067" key="3702dfb0-6ecc-40f1-9325-1b5ca2eb9540" parentID="1066" level="2" creatorID="0" sortOrder="0" createDate="2018-09-02T18:53:24" updateDate="2018-09-02T18:53:24" nodeName="Blog" urlName="blog" path="-1,1066,1067" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="1062" nodeTypeAlias="blog" isPublished="true">
      <blogPost id="1068" key="5f3033f7-35e9-4d08-bdfe-178b928e5e12" parentID="1067" level="3" creatorID="0" sortOrder="0" createDate="2018-09-02T18:53:30" updateDate="2018-09-02T18:54:12" nodeName="A blog post" urlName="a-blog-post" path="-1,1066,1067,1068" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="blogPost" isPublished="true">
        <bodyText><![CDATA[<p>This is a blog post.</p>]]></bodyText>
      </blogPost>
      <blogPost id="1069" key="79cedc58-4836-44a9-b67f-eadf1c40ab38" parentID="1067" level="3" creatorID="0" sortOrder="1" createDate="2018-09-02T18:53:40" updateDate="2018-09-02T18:54:55" nodeName="Another blog post" urlName="another-blog-post" path="-1,1066,1067,1069" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="blogPost" isPublished="true">
        <bodyText><![CDATA[<p>This is another blog post. Here's a <a data-udi="umb://document/5f3033f735e94d08bdfe178b928e5e12" href="/{localLink:umb://document/5f3033f735e94d08bdfe178b928e5e12}" title="A blog post">link to the first blog post</a>.</p>]]></bodyText>
      </blogPost>
    </blog>
  </home>
</root>